.card {
  text-align: center;
  background: transparent;
  box-shadow: none;

  &__title {
    margin: 2rem 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 3.75rem;
    color: var(--color-dark);
    opacity: 0.8;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.8125rem;
  }

  &__text {
    margin: 0 auto 1.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--color-dark);
    opacity: 0.8;
  }

  &__content {
    font-size: 1.2rem;
  }

  &__start-button {
    background-color: transparent;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1.5rem;
    line-height: 1;
    padding: 1.1875rem 0.9375rem 1.3125rem;
    min-width: 10.125rem;
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    border-radius: 0.1875rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-dark);
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.15s ease;
    outline: none;
  }
}

@media (max-width: 500px) {
  .card {
    width: 80vw;
  }
}
