<mat-card class="card">
  <div *ngIf="guessed; else audioBtnBlock">
    <div class="card__image" [ngStyle]="{ background: 'url(' + (path ? path : '') + ') no-repeat 0 0 / cover' }"></div>
    <mat-card-title>
      <button mat-mini-fab class="audio__btn" aria-label="Example icon button with a home icon" (click)="onPlay()">
        <i class="material-icons">volume_up</i>
      </button>
      {{ word.word }}
    </mat-card-title>
  </div>
</mat-card>

<ng-template #audioBtnBlock>
  <button mat-fab class="audio__btn audio__btn_big" (click)="onPlay()">
    <i class="material-icons md-48">volume_up</i>
  </button>
</ng-template>
