:host {
  position: fixed;
  background: url("./../../../../../assets/images/mini-games/savannah-background.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgba(#087829, 0.5);
  }
}

.savannah {
  color: white;

  &-fullscreen_btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  &-controls {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: row-reverse;
    $background: rgba(
      $color: #000000,
      $alpha: 0.5,
    );

    &_volume {
      background-color: $background;
      margin: 0 5px;
    }

    &_close {
      background-color: $background;
    }
  }
}

@media screen and (max-width: 500px) {
  .savannah-controls {
    flex-direction: column;

    &_volume {
      margin: 5px 0;
    }
  }
}
