.dialog {
  text-align: center;
  font-size: 1.1rem;

  &__content {
<<<<<<< HEAD:src/app/mini-games/shared/components/close-game-dialog/close-game-dialog.component.scss
    overflow: visible;
=======
    line-height: 1.4rem;
>>>>>>> fix: short-term stats fixes:src/app/mini-games/sprint/components/sprint-game-pause-exit/sprint-game-pause-exit.component.scss
  }

  &__exit {
    margin: 0.5rem auto;
    width: 100%;
    font-size: 1.2rem;
  }

  &__close {
    margin: 0 auto;
    width: 100%;
    font-size: 1.2rem;
  }
}
