:host {
  width: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  &__form {
    width: 18rem;
  }

  &__form-field-container:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  &__form-field {
    width: 100%;
  }

  &__visibility-icon {
    cursor: pointer;
  }

  &__server-error {
    margin: 1.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__submit-btn {
    width: 100%;
    height: 3rem;
    background-color: #4caf50;
    color: #fff;
    text-transform: uppercase;
  }

  &__go-login {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  &__go-login-text {
    opacity: 0.5;
  }

  &__go-login-link {
    display: inline-block;
    margin-left: 0.5rem;
    text-decoration: none;
  }
}
