:host {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: row-reverse;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.icon {
  user-select: none;
}
