:host {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.icon {
  user-select: none;
}

@media screen and (max-width: 500px) {
  :host {
    flex-direction: column;
  }
}
