:host {
  position: relative;
  background: url("../../shared/assets/savannah-background.jpg") no-repeat center center fixed;
  //filter: blur(3px);
  background-size: cover;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;

    background: rgba(#344557, 0.85);
  }
}
