<app-game-sounds-button></app-game-sounds-button>

<ng-template [ngIf]="currentWord$ | async" let-currentWord>
  <div class="audiochallenge__container">
    <app-audiochallenge-word-card [word]="currentWord" [guessed]="guessed$ | async" (playEvent)="playSound()">
    </app-audiochallenge-word-card>
    <app-translation-options
      [guessed]="guessed$ | async"
      [options]="currentWord.translationsArray"
      [rightAnswer]="currentWord.wordTranslate"
      (translationEvent)="checkAnswer($event)"
    ></app-translation-options>
    <app-decision-buttons
      [guessed]="guessed$ | async"
      (guessEvent)="skipWord()"
      (nextWordEvent)="nextWord()"
    ></app-decision-buttons>
  </div>
</ng-template>
