:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../../../../assets/images/mini-games/audiochallenge-bg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.audiochallenge__container {
  width: 100%;
  padding: 0 1.5rem;
}
