<app-progress *ngIf="isLoading$ | async"></app-progress>
<a *ngIf="isAuthorized$ | async" class="textbook-dictionary__link" [routerLink]="['/textbook']" mat-raised-button
  >Назад к учебнику</a
>
<div class="textbook-dictionary__links">
  <a
    *ngIf="isAuthorized$ | async"
    class="textbook-dictionary__linkHeader"
    [ngClass]="{ active_link: filter === 'learning' }"
    [routerLink]="['/textbook/dictionary']"
    [queryParams]="{ filter: 'learning', group: 0, page: 0 }"
    mat-raised-button
    >Изучаемые слова</a
  >
  <a
    *ngIf="isAuthorized$ | async"
    class="textbook-dictionary__linkHeader"
    [ngClass]="{ active_link: filter === 'hard' }"
    [routerLink]="['/textbook/dictionary']"
    [queryParams]="{ filter: 'hard', group: 0, page: 0 }"
    mat-raised-button
    routerLinkActive="active_link"
    >Трудные слова</a
  >
  <a
    *ngIf="isAuthorized$ | async"
    class="textbook-dictionary__linkHeader"
    [ngClass]="{ active_link: filter === 'deleted' }"
    [routerLink]="['/textbook/dictionary']"
    [queryParams]="{ filter: 'deleted', group: 0, page: 0 }"
    mat-raised-button
    routerLinkActive="active_link"
    >Удаленные слова</a
  >
</div>

<app-textbook-tab-nav [currentGroup]="currentGroup" (changeGroupEvent)="setCurrentGroup($event)"></app-textbook-tab-nav>

<div [ngClass]="'tab-content-' + currentGroup" class="textbook-content__cardItems">
  <app-word-card
    *ngFor="let item of wordItems$ | async; trackBy: trackByFnWordCard"
    [item]="item"
    (updateUserWord)="updateUserWord($event)"
    [isAuthorized]="isAuthorized$ | async"
  ></app-word-card>
  <h3 class="tab-content__empty color-text-togglable" *ngIf="(wordItems$ | async)?.length === 0">
    Пока на этой странице нет слов
  </h3>

  <div class="word-statistic">
    <app-textbook-statistic [pageInfo]="groupStatsInfo | async" [title]="groupStatisticTitle"></app-textbook-statistic>

    <app-textbook-statistic [pageInfo]="pageStatsInfo | async" [title]="pageStatisticTitle"></app-textbook-statistic>
  </div>
</div>

<app-textbook-pagination
  [currentPage]="currentPage"
  [totalCount]="totalCount | async"
  (paginationEvent)="onPaginateChange($event)"
></app-textbook-pagination>
<div *ngIf="wordItems$ | async as words">
  <app-textbook-mini-games
    *ngIf="words.length > 0"
    [queryParams]="{ page: currentPage, group: currentGroup, filter: filter }"
  ></app-textbook-mini-games>
</div>
