.textbook-dictionary__link {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.textbook-dictionary__links {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  display: flex;
  align-items: center;

  .active_link {
    border: 2px solid var(--color-primary);
    transition: 0.5s;
  }
}

.textbook-dictionary__linkHeader {
  min-width: 20%;
  font-size: 1.25rem;
  font-weight: lighter;
  border: 1px var(--color-accent) solid;
  color: var(--color-light);
  background-color: var(--color-accent);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textbook-content__cardItems {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.tab-link-0,
.tab-content-0 {
  background-color: rgba($color: #ffcccc, $alpha: 0.5);
}
.tab-link-1,
.tab-content-1 {
  background-color: rgba($color: #ccffff, $alpha: 0.5);
}
.tab-link-2,
.tab-content-2 {
  background-color: rgba($color: #ffff99, $alpha: 0.8);
}
.tab-link-3,
.tab-content-3 {
  background-color: rgba($color: #00bfff, $alpha: 0.5);
}
.tab-link-4,
.tab-content-4 {
  background-color: rgba($color: #cc99cc, $alpha: 0.5);
}
.tab-link-5,
.tab-content-5 {
  background-color: rgba($color: #99ff99, $alpha: 0.5);
}

::ng-deep .mat-tab-links {
  justify-content: space-between;
}

@media (max-width: 768px) {
  .textbook-content__cardItems {
    justify-content: center;
  }

  .textbook-dictionary__links {
    span {
      display: none;
    }
  }
}
