<div class="container">
  <div class="home-page">
    <div class="home-page__description-block">
      <div class="home-page__text">
        <h1 class="home-page__slogan">Английский - легко!</h1>
        <div>
          С приложением для изучения иностранных слов <em>RS Lang</em>, которое содержит словарь с базой самых
          популярных слов для изучения, увлекательные мини-игры для интервального повторения, которые превносят
          соревновательный дух, страницу статистики для отслеживания индивидульного прогресса, вы сможете изучать
          английский язык легко и с удовольствием.
        </div>
        <div class="home-page__actions" *ngIf="isAuthorized$ | async as isAuthorized; else anonymousLinks">
          <a class="home-page__action" mat-button [routerLink]="['/textbook/book']">К учебнику</a>
          <a class="home-page__action" mat-button [routerLink]="['/mini-games']">Играть</a>
        </div>
        <ng-template #anonymousLinks>
          <div class="home-page__actions">
            <a class="home-page__action" mat-button [routerLink]="['/auth/signup']">Создать аккаунт</a>
            <a class="home-page__action" mat-button [routerLink]="['/auth/login']">Войти</a>
          </div>
        </ng-template>
      </div>
      <div class="home-page__picture"></div>
    </div>
    <div class="home-page__games-block">
      <h2 class="home-page__games-title">Доступные игры</h2>
      <div class="home-page__games">
        <mat-card class="home-page__game-card" *ngFor="let game of games; trackBy: trackByFn">
          <mat-card-header>
            <mat-card-title>{{ game.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{ game.description }}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <app-demo></app-demo>
    <app-about-team></app-about-team>
  </div>
</div>
