<div class="home-page">
  <div class="home-page__description-block">
    <div class="home-page__text">
      <h1 class="home-page__slogan">Английский - легко!</h1>
      <div>
        С приложением для изучения иностранных слов <em>RS Lang</em>, которое содержит словарь с базой самых популярных
        слов для изучения, увлекательные мини-игры для интервального повторения, которые превносят соревновательный дух,
        страницу статистики для отслеживания индивидульного прогресса, вы сможете изучать английский язык легко и с
        удовольствием.
      </div>
      <div class="home-page__actions">
        <a class="home-page__action" mat-button href="/auth/signup">Создать аккаунт</a>
        <a class="home-page__action" mat-button href="/auth/login">Войти</a>
      </div>
    </div>
    <div class="home-page__picture"></div>
  </div>
  <app-demo></app-demo>
  <app-about-team></app-about-team>
</div>
