.background-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #95aac0 url("../../../assets/images/mini-games/sprint/mini-games-sprint-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c7d1db;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgba(#95aac0, 0.35);
  }
}

.game-container {
  z-index: 5;
  user-select: none;
}

.game {
  &__counter {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  &__counter-start {
    display: flex;
    justify-content: center;
  }

  &__start-text {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
  }

  &__text {
    margin-top: 0.8rem;
    font-size: 1.5rem;
    text-align: center;
  }

  &__score {
    display: flex;
    justify-content: space-between;
  }

  &__mute {
    background-color: var(--color-button);
    position: absolute;
    top: 1rem;
    right: 5rem;
  }

  &__fullscreen {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    ::ng-deep button {
      color: var(--color-dark-background);
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--color-button);
  }
}

.material-icons_black {
  color: var(--color-dark-background);
}

mat-icon:hover {
  cursor: pointer;
}
