<div class="background-container">
  <div *ngIf="game.gameState === GAME_STATE.PLAY" class="game__counter">
    <app-counter
      [count]="59"
      [isPaused]="game.isPaused"
      [spinnerColor]="'warn'"
      (countIsOver)="gameOver()"
    ></app-counter>
  </div>

  <div class="game-container">
    <button mat-fab (click)="openCloseDialog()" class="game__close">
      <span class="material-icons material-icons_black">close</span>
    </button>

    <button mat-fab *ngIf="!game.isMuted" class="game__mute" (click)="onMuteClick()">
      <i class="material-icons material-icons_black">music_note</i>
    </button>

    <button mat-fab *ngIf="game.isMuted" class="game__mute" (click)="onMuteClick()">
      <i class="material-icons material-icons_black">music_off</i>
    </button>

    <ng-container *ngIf="game.gameState === GAME_STATE.SETUP">
      <app-sprint-game-start (difficultySelected)="getWords($event)"></app-sprint-game-start>
    </ng-container>

    <ng-container *ngIf="game.gameState === GAME_STATE.READY">
      <app-counter
        [count]="4"
        [isPaused]="game.isPaused"
        *ngIf="isStarterCounterShown"
        (countIsOver)="getReadyToPlay()"
      ></app-counter>
      <p class="game__start-text">{{ loadingWordsMessage || "Приготовьтесь" }}</p>
    </ng-container>

    <ng-container *ngIf="game.gameState === GAME_STATE.PLAY">
      <div class="game__score">
        <p class="game__text">Стрик: {{ game.streak }}</p>
        <p class="game__text">Баллы: {{ game.points }}</p>
      </div>

      <app-sprint-game-card
        [word]="game.word"
        [translation]="game.wordTranslation"
        [streak]="game.streak"
        [multiplier]="game.multiplier"
        (pronounceWord)="pronounceWord()"
        (handleTurn)="handleTurn($event)"
        #answerRipple
        matRipple
        [matRippleDisabled]="true"
      >
      </app-sprint-game-card>
    </ng-container>

    <ng-container *ngIf="game.gameState === GAME_STATE.OVER">
      <app-end-game
        [trainedWords]="game.trainedWords"
        [gamePoints]="game.points"
        (closeGameEvent)="resetGame()"
        [game]="GAMES.SPRINT"
      ></app-end-game>
    </ng-container>
  </div>

  <app-full-screen-button color="warn" class="game__fullscreen"></app-full-screen-button>
</div>
