.background-container {
  min-height: calc(100vh - 10.22rem);
  position: relative;
  background-image: url("../../../../assets/images/statistics/statistics-page-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgba(var(--color-light-rgb), 0.75);
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 13.34rem);
  font-size: 1rem;
  text-align: center;
}

.stats {
  &__date {
    margin-bottom: 4rem;
    font-weight: 500;
  }

  &__play {
    width: 8rem;
  }

  &__login {
    width: 8rem;
  }
}
