<div class="file-input">
  <button type="button" mat-stroked-button (click)="fileUploader.click()">
    <span class="file-input__load-button color-text-togglable">Загрузить фото</span>
  </button>

  <div
    class="file-input__preview-image"
    (click)="fileUploader.click()"
    [ngClass]="{ 'file-input__preview-image--filled': image }"
  >
    <img class="file-input__image" [src]="image" *ngIf="image" [alt]="" />

    <button
      class="file-input__remove-photo-btn"
      mat-icon-button
      aria-label="Remove photo"
      (click)="remove($event)"
      matTooltip="Удалить"
    >
      <mat-icon class="color-text-togglable">close</mat-icon>
    </button>
  </div>
</div>

<input class="file-input__input" type="file" accept="image/*" #fileUploader (change)="onSelect($event)" />
