.textbook-content__link {
  background-color: royalblue;
  color: #fff;
  margin-bottom: 1rem;
  position: absolute;
}

.textbook-content__navigation {
  margin-top: 3rem;
}

.tab-link-0,
.tab-content-0 {
  background-color: var(--color-group-0);
}
.tab-link-1,
.tab-content-1 {
  background-color: var(--color-group-1);
}
.tab-link-2,
.tab-content-2 {
  background-color: var(--color-group-2);
}
.tab-link-3,
.tab-content-3 {
  background-color: var(--color-group-3);
}
.tab-link-4,
.tab-content-4 {
  background-color: var(--color-group-4);
}
.tab-link-5,
.tab-content-5 {
  background-color: var(--color-group-5);
}

.tab-link {
  color: var(--color-stars);
  font-size: 1.125rem;
}
