:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #7d5db0 0, #b06d9a 72%, #c584a4);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

.intro {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mini-game {
  width: 100%;
  min-height: 80vh;
  transition: all 1s ease;
  background: #7d5db0;
  background: linear-gradient(180deg, #7d5db0 0, #b06d9a 72%, #c584a4);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.title {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 60px;
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 13px;
}

.text {
  max-width: 565px;
  margin: 0 auto 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
}

.start_btn {
  background-color: transparent;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 24px;
  line-height: 1;
  padding: 19px 15px 21px;
  min-width: 162px;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.7);
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.15s ease;
  outline: none;
}

.mat-fab {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.full-screen__btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
