<div class="background-container">
  <div>
    <mat-icon class="close-icon" (click)="onCloseDialog()">close</mat-icon>
  </div>
  <div class="game-container">
    <div class="one-row center margins-top-bottom">
      <div class="margins-left-right counter">Раунд: {{ wordIndex }}</div>
      <div class="margins-left-right counter">Осталось раундов: {{ roundsLeft }}</div>
    </div>
    <div *ngIf="!isGameOver()" class="one-row center margins-top-bottom">
      <div class="margins-left-right counter">Осталось времени на текущий раунд: {{ countdownTimer }} cек</div>
    </div>
    <div *ngIf="!isGameOver()" class="one-row center margins-top-bottom">
      <div class="margins-left-right counter">Осталось перестановок в текущем раунде: {{ movesCountdownCounter }}</div>
    </div>

    <div class="full-height center">
      <div cdkDropList cdkDropListOrientation="horizontal" class="word-list" (cdkDropListDropped)="dropLetter($event)">
        <div class="word-box" *ngFor="let letter of scrambledWordAsArray" cdkDrag>
          {{ letter }}
        </div>
      </div>
    </div>
  </div>

  <app-full-screen-button color="warn" class="game-fullscreen"></app-full-screen-button>
</div>
