<div class="background-container">
  <div>
    <button mat-icon-button class="close-game-button" color="warn" (click)="onCloseDialog()">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  </div>
  <div class="game-container">
    <div>
      <div *ngIf="!isGameOver" class="one-row center margins-top-bottom">
        <div class="margins-left-right counter">Раунд: {{ currentRound }}</div>
        <div class="margins-left-right counter">Осталось раундов: {{ roundsLeft }}</div>
      </div>
      <div *ngIf="!isRoundOver" class="one-row center margins-top-bottom">
        <div class="margins-left-right counter">Осталось времени на текущий раунд: {{ countdownTimer }} cек</div>
      </div>
      <div *ngIf="!isRoundOver" class="one-row center margins-top-bottom">
        <div class="margins-left-right counter">
          Осталось перестановок в текущем раунде: {{ movesCountdownCounter }}
        </div>
      </div>
      <div *ngIf="!isRoundOver" class="center margins-top-bottom">
        <p class="margins-left-right counter">Перевод слова: {{ currentWordTranslation | uppercase }}</p>
      </div>
      <div class="center margins-top-bottom">
        <button mat-icon-button class="sound-button center" color="primary" (click)="onToggleSound()">
          <mat-icon class="sound-icon">{{ isSoundOn ? "volume_up" : "volume_off" }} </mat-icon>
        </button>
      </div>

      <div *ngIf="!isRoundOver" class="full-height center">
        <div
          cdkDropList
          cdkDropListOrientation="horizontal"
          class="word-list"
          (cdkDropListDropped)="dropLetter($event)"
        >
          <div class="word-box" *ngFor="let letter of scrambledWordAsArray" cdkDrag>
            {{ letter }}
          </div>
        </div>
      </div>
      <div *ngIf="!isResultsShown" class="center margins-top-bottom">
        <img class="gallows-img" [src]="imageSrc" />
      </div>
      <div *ngIf="isRoundOver && !isGameOver" class="center margins-top-bottom">
        <button mat-raised-button color="primary" (click)="startNextRound()">Начать следующий раунд</button>
      </div>
      <div *ngIf="isResultsShown" class="center margins-top-bottom margins-left-right display-block">
        <p class="results counter">Результаты игры</p>
        <p *ngFor="let word of trainedWords" class="results counter">
          Слово: {{ word.word }}, перевод: {{ word.translation }}, {{ word.result }}
        </p>
      </div>
      <div *ngIf="isGameOver && !isResultsShown" class="center margins-top-bottom margins-left-right counter">
        {{ isGameLost() ? "В следующий раз обязательно получится!" : "Так держать!" }}
      </div>
    </div>
  </div>

  <app-full-screen-button color="warn" class="game-fullscreen"></app-full-screen-button>
</div>
