.game-card {
  width: 50vw;

  &__points {
    text-align: center;
  }

  &__words-list {
    height: 60vh;
    padding: 1rem;
    overflow-y: scroll;
  }

  &__word {
    color: #3f51b5;
    font-size: 1.2rem;
  }

  &__translation {
    font-size: 1.2rem;
  }

  &__reset {
    width: 100%;
    font-size: 1.2rem;
  }

  &__exit {
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  &__delete {
    opacity: 0;
    margin-left: auto;
  }

  &__wrong {
    color: #ff4500;
    font-size: 1.2rem;
  }

  &__correct {
    color: #28c38a;
    font-size: 1.2rem;
  }
}

.game-card__word-container {
  display: flex;
  gap: 0.5rem;

  &:hover {
    .game-card__delete {
      opacity: 1;
    }
  }
}

mat-icon {
  cursor: pointer;
}

@media (max-width: 700px) {
  .game-card {
    width: 80vw;

    &__words-list {
      height: 45vh;
    }
  }
}
