.savannah-options {
  display: flex;

  &_word {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .savannah-options {
    flex-direction: column;

    &_word {
      margin-bottom: 3vh;
    }
  }
}
