<footer>
  <ul class="page-footer__list">
    <li *ngFor="let developer of teammates$ | async; trackBy: trackByFn">
      <a [href]="developer.github" target="_blank">
        <div class="page-footer__image">
          <img [src]="developer.pictureUrl" [alt]="developer.name" [title]="developer.name" />
        </div>
      </a>
    </li>
  </ul>
  <hr />
  <div class="page-footer__info">
    <span> 2021 </span>
    <a [href]="rssUrl" target="_blank">
      <div class="page-footer__rss">
        <img [src]="rssImage" alt="RSSchool" />
      </div>
    </a>
  </div>
</footer>
