$indigo-dark-primary-color: #303f9f;
$indigo-light-primary-color: #c5cae9;
$indigo-primary-color: #3f51b5;
$indigo-accent-color: #009688;

$red-dark-primary-color: #d32f2f;
$red-light-primary-color: #ffcdd2;
$red-primary-color: #f44336;
$red-accent-color: #ff5252;

$text-icons: #ffffff;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #bdbdbd;

p {
  margin: 1.5rem 0 0.5rem 0;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.margins-left-right {
  margin-left: 1rem;
  margin-right: 1rem;
}

.margins-top-bottom {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.indigo-dark-primary-color {
  color: $indigo-dark-primary-color;
}

.indigo-primary-color {
  color: $indigo-primary-color;
}

.secondary-text {
  color: $secondary-text;
}
