.stats {
  &__row {
    background-color: #fdfdfd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 3rem;
    margin: 0;
  }

  &__title {
    text-align: left;
    margin-left: 1rem;
  }

  &__result {
    width: 6rem;
    text-align: center;
  }
}

@media (max-width: 750px) {
  .stats {
    &__row {
      width: 90vw;
    }
  }
}
