<mat-tab-group class="stats">
  <mat-tab class="stats__container" *ngFor="let stat of stats" label="{{ stat.gameName }}">
    <div class="stats__container-item">
      <div class="stats__words-result">
        <span>{{ stat.learnedWordsByIds.size }}</span>
      </div>
      <span class="stats__words-title">Изученных слов</span>
    </div>
    <div class="stats__container-item">
      <div class="stats__words-result">
        <div>
          <div class="words__percent">{{ stat.correctAnswers / stat.trainedWords | percent: "1.0" }}</div>
          <mat-progress-spinner
            class="words__spinner"
            [value]="(stat.correctAnswers / stat.trainedWords) * 100 | number: '1.0'"
            diameter="100"
          >
          </mat-progress-spinner>
        </div>
      </div>
      <span class="stats__words-title">Правильных ответов</span>
    </div>
    <div class="stats__container-item">
      <div class="stats__words-result">
        <span>{{ stat.streak }}</span>
      </div>
      <span class="stats__words-title">Правильных ответов подряд</span>
    </div>
  </mat-tab>
</mat-tab-group>
