<mat-tab-group class="stats" mat-align-tabs="center" [ngStyle]="{ 'background-color': '#fdfdfd', 'max-width': '95vw' }">
  <mat-tab *ngFor="let stat of stats" label="{{ stat.gameName }}">
    <p class="stats__row">
      <span class="stats__title">Изученные слова за день</span>
      <span class="stats__result">{{ stat.learnedWordsByIds.size }}</span>
    </p>
    <mat-divider></mat-divider>
    <p class="stats__row">
      <span class="stats__title">Процент правильных ответов</span>
      <span class="stats__result">{{ stat.correctAnswers / stat.trainedWords | percent: "1.0-2" }}</span>
    </p>
    <mat-divider></mat-divider>
    <p class="stats__row">
      <span class="stats__title">Максимальная серия правильных ответов</span>
      <span class="stats__result">{{ stat.streak }}</span>
    </p>
    <mat-divider></mat-divider>
  </mat-tab>
</mat-tab-group>
