:host {
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  margin: 10px;
  cursor: pointer;

  &:hover {
    box-shadow: var(--box-shadow);
  }
}

.word-card {
  position: relative;
  box-sizing: border-box;
  height: 100%;
}

.word-card__wrapper {
  display: flex;
  flex-direction: column;
}

.word-card__infoWrapper {
  div {
    margin-bottom: 0.625rem;
  }
}

.mat-card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.word-card__text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 0.625rem;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.word-card__info {
  display: flex;
  justify-content: space-between;
}

.word-card__image {
  position: relative;
  width: 100%;
  padding-bottom: 80%;
  margin-bottom: 0.625rem;
  overflow: hidden;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.word-card__textExample,
.word-card__textMeaning,
.word-card__textExampleTranslate {
  margin-bottom: 0.5rem;
}

.word-card__infoButtons {
  display: flex;
  flex-direction: column;
}

.word-card__infoButtons button {
  margin-bottom: 0.5rem;
}

.word-card__audio {
  padding: 0.3125rem;
  top: 1.3125rem;
  left: 1.3125rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  color: var(--color-light);
}

.word_hard {
  color: var(--color-primary);
}

.word-card__progress {
  margin-top: auto;
  padding-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 140%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;

  span {
    font-weight: bold;
  }
}

.word-card__progressCountWrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0.3125rem;

  .word-card__progressCount {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 14px;
  }
}

.word-card__progressCount-correct,
.word-card__progressCount-wrong {
  margin-right: 0.2125rem;
}

.word-card__progressCount-correct {
  color: var(--color-accent);
}

.word-card__progressCount-wrong {
  color: var(--color-warn);
}

.word-tooltip-correct {
  background: var(--color-accent);
}
.word-tooltip-wrong {
  background: var(--color-warn);
}
