:host {
  width: 100%;
  max-width: 90%;
  margin: 1rem auto;

  &:hover {
    box-shadow: var(--box-shadow);
  }
}

.word-card {
  position: relative;
  padding: 0;
  min-height: 16.5rem;
}

.mat-card-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.word-card__image {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 12.5rem;
  max-width: 25%;

  overflow: hidden;

  img {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.word-card__audio {
  position: absolute;
  top: 1rem;
  right: 1rem;

  border-radius: 50%;
  padding: 0.3125rem;
  cursor: pointer;

  &:hover {
    box-shadow: -2px 0px 17px 2px rgba(34, 60, 80, 0.16);
  }
}

.word-card__wrapper {
  padding: 1rem;
}

.word-card__infoWrapper,
.word-card__text {
  div {
    margin-bottom: 0.5rem;
  }
}

.word-card__audio {
  padding: 0.3125rem;
  top: 1.3125rem;
  left: 1.3125rem;
  position: absolute;
  background-color: var(--color-light);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.word_hard {
  color: var(--color-warn);
}
