<mat-card class="word-card">
  <mat-card-content>
    <div class="word-card__wrapper">
      <mat-icon
        class="word-card__audio"
        matRipple
        [matRippleUnbounded]="true"
        [matRippleCentered]="true"
        (click)="wordSound([item.audio, item.audioExample, item.audioMeaning])"
      >
        volume_up
      </mat-icon>
      <div class="word-card__image">
        <img [src]="this.api.githubAssetUrl + '/' + item.image" [alt]="item.word" />
      </div>
      <div class="word-card__info">
        <div class="word-card__infoWrapper">
          <div class="word-card__word" [ngClass]="{ word_hard: item.userWord?.difficulty === 'hard' }">
            {{ item.word }}
            <span *ngIf="item.userWord?.difficulty === 'hard'" [innerHTML]="'&#10029;'"></span>
          </div>
          <div class="word-card__transcription">
            {{ item.transcription }}
          </div>
          <div class="word-card__wordTranslate" *ngIf="isTranslation$ | async">
            {{ item.wordTranslate }}
          </div>
        </div>
        <div class="word-card__infoButtons" *ngIf="isAuthorized && (isSettingButtons$ | async)">
          <button
            class="word-card__infoButtons-delete"
            mat-raised-button
            color="warn"
            (click)="updateWord(item, 'deleted')"
            *ngIf="item.userWord?.difficulty !== 'deleted'"
          >
            Удалить
            <span *ngIf="item.difficulty">Удалено</span>
          </button>
          <button
            class="word-card__infoButtons-hard"
            mat-raised-button
            color="primary"
            *ngIf="item.userWord?.difficulty !== 'hard' && item.userWord?.difficulty !== 'deleted'"
            (click)="updateWord(item, 'hard')"
          >
            Сложное
          </button>
          <button
            class="word-card__infoButtons-hard"
            mat-raised-button
            color="primary"
            *ngIf="item.userWord?.difficulty === 'deleted'"
            (click)="updateWord(item, 'learning')"
          >
            Восстановить
          </button>

          <span *ngIf="item.difficulty">Удалено</span>
        </div>
      </div>
    </div>
    <div class="word-card__text">
      <div class="word-card__textExample" [innerHTML]="item.textExample"></div>
      <div class="word-card__textExampleTranslate" *ngIf="isTranslation$ | async">
        {{ item.textExampleTranslate }}
      </div>
      <div class="word-card__textMeaning" [innerHTML]="item.textMeaning"></div>
      <div class="word-card__textMeaningTranslate" *ngIf="isTranslation$ | async">
        {{ item.textMeaningTranslate }}
      </div>
      <div class="word-card__progress" *ngIf="isAuthorized">
        <span>Прогресс: </span>
        <div class="word-card__progressCountWrapper">
          <div class="word-card__progressCount" matTooltip="Отвечено верно" matTooltipClass="word-tooltip-correct">
            <span class="word-card__progressCount-correct">
              <mat-icon>check_circle_outline</mat-icon>
            </span>
            {{ correctWordsCount }}
          </div>
          <div class="word-card__progressCount" matTooltip="Отвечено с ошибкой" matTooltipClass="word-tooltip-wrong">
            <span class="word-card__progressCount-wrong">
              <mat-icon>highlight_off</mat-icon>
            </span>
            {{ wrongWordsCount }}
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
