:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto;
  width: fit-content;
  height: fit-content;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.difficulty {
  &-text {
    font-size: 2rem;
    color: var(--color-light);
    text-align: center;
  }

  &-slider {
    margin: 0 10px;
    margin-bottom: 25px;
  }

  &-button {
    width: fit-content;
    align-self: center;
  }
}

::ng-deep {
  .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
    height: 12px;
    border-radius: 10px;
  }

  .mat-slider.mat-slider-horizontal .mat-slider-track-background,
  .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    height: 100%;
  }

  .mat-slider-thumb {
    bottom: -15px !important;
    transform: scale(0.8) !important;
  }
}
