/* You can add global styles to this file, and also import other style files */
@import "node_modules/@angular/material/theming";

@include mat-core();

@mixin light-theme-mixin {
  --color-primary: #039be5;
  --color-primary-dark: #3a9280;
  --color-primary-normal: #039be5;
  --color-primary-light: #488fd5;
  --color-primary-rgb: 81, 45, 168;
  --color-accent: #ff5722;
  --color-accent-rgb: 0, 150, 136;
  --color-warn: #d32f2f;
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-divider: #bdbdbd;
  --color-text-icons: #ffffff;
  --color-text-togglable: #212121;
  --color-background-togglable: #ffffff;
  --color-light: #ffffff;
  --color-light-rgb: 255, 255, 255;
  --color-icon-success: #4caf50;

  --color-dark: #000000;
  --color-dark-rgb: 0, 0, 0;
  --color-dark-background: #07073d;

  --color-button: rgba(255, 255, 255, 0.2);

  --color-border: #000080;

  --color-group-0: rgba(255, 204, 204, 0.5);
  --color-group-1: rgba(204, 255, 255, 0.5);
  --color-group-2: rgba(255, 255, 153, 0.5);
  --color-group-3: rgba(0, 191, 255, 0.5);
  --color-group-4: rgba(204, 153, 204, 0.5);
  --color-group-5: rgba(153, 255, 153, 0.5);

  --box-shadow: -2px 0px 17px 2px rgba(34, 60, 80, 0.16);
  --color-stars: #ff6600;
}

:root {
  @include light-theme-mixin;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1200px;
  width: 100%;

  box-sizing: border-box;
}

.mat-list-base .mat-list-item .mat-list-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: inherit;
  justify-content: space-between;
}

$color-blue-teal-primary: mat-palette($mat-light-blue);
$color-blue-teal-accent: mat-palette($mat-teal);
$color-blue-teal-warn: mat-palette($mat-red);

$color-pink-bluegrey-primary: mat-palette($mat-pink);
$color-pink-bluegrey-accent: mat-palette($mat-blue-grey);
$color-pink-bluegrey-warn: mat-palette($mat-deep-orange);

/*$color-deeppurple-amber-primary: mat-palette($mat-deep-purple);
$color-deeppurple-amber-accent: mat-palette($mat-amber);
$color-deeppurple-amber-warn: mat-palette($mat-deep-orange);

$color-indigo-pink-primary: mat-palette($mat-indigo);
$color-indigo-pink-accent: mat-palette($mat-pink);
$color-indigo-pink-warn: mat-palette($mat-deep-orange);

$color-purple-green-primary: mat-palette($mat-green);
$color-purple-green-accent: mat-palette($mat-purple);
$color-purple-green-warn: mat-palette($mat-deep-orange);*/

$light-theme: mat-light-theme(
  (
    color: (
      primary: $color-blue-teal-primary,
      accent: $color-blue-teal-accent,
      warn: $color-blue-teal-warn,
    ),
  )
);

$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $color-pink-bluegrey-primary,
      accent: $color-pink-bluegrey-accent,
      warn: $color-pink-bluegrey-warn,
    ),
  )
);

/*$deeppurple-amber-theme: mat-light-theme(
  (
    color: (
      primary: $color-deeppurple-amber-primary,
      accent: $color-deeppurple-amber-accent,
      warn: $color-deeppurple-amber-warn,
    ),
  )
);

$indigo-pink-theme: mat-light-theme(
  (
    color: (
      primary: $color-indigo-pink-primary,
      accent: $color-indigo-pink-accent,
      warn: $color-indigo-pink-warn,
    ),
  )
);

$purple-green-theme: mat-dark-theme(
  (
    color: (
      primary: $color-purple-green-primary,
      accent: $color-purple-green-accent,
      warn: $color-purple-green-warn,
    ),
  )
);*/

@include angular-material-theme($light-theme);

.light-theme {
  @include light-theme-mixin;
}

.dark-theme {
  --color-primary: #e91e63;
  --color-primary-dark: #c2185b;
  --color-primary-normal: #e91e63;
  --color-primary-rgb: 233, 30, 99;
  --color-primary-light: #f8bbd0;
  --color-accent: #607d8b;
  --color-accent-rgb: 96, 125, 139;
  --color-warn: #ff5722;
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-divider: #bdbdbd;
  --color-text-icons: #ffffff;
  --color-text-togglable: #ffffff;
  --color-background-togglable: #07073d;
  background-color: var(--color-dark-background);
  --color-icon-success: #4caf50;

  /* Здесь надо корректировать цвета для парных цветов из светлой темы */

  --color-light: #ffffff;
  --color-light-rgb: 255, 255, 255;

  --color-dark: #000000;
  --color-dark-rgb: 0, 0, 0;
  --color-dark-background: #07073d;

  --color-button: rgba(255, 255, 255, 0.2);

  --color-border: #000080;

  --color-group-0: #4a789c;
  --color-group-1: #2d6b9c;
  --color-group-2: #6f4c9d;
  --color-group-3: #5e2f9d;
  --color-group-4: #51519e;
  --color-group-5: #35359e;

  --box-shadow: -2px 0px 17px 2px rgba(34, 60, 80, 0.16);
  --color-stars: #ffb404;

  @include angular-material-color($dark-theme);

  .rs-logo {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
}

.color-text-togglable {
  color: var(--color-text-togglable);
}

.dark-theme .mat-paginator {
  background: transparent;
}

.active {
  background-size: 100% 2px;
}

.page-header__icon {
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  background-color: transparent;
}

.dark-theme .active {
  .page-header__icon {
    background-color: rgba($color: #ffffff, $alpha: 0.2);
  }
}

.dark-theme .page-header__icon {
  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.2);
  }
}

.dark-theme .page-header__icon-1 {
  background-image: url("./assets/images/icons/header/home.svg");
}

.dark-theme .page-header__icon-2 {
  background-image: url("./assets/images/icons/header/textbook.svg");
}

.dark-theme .page-header__icon-3 {
  background-image: url("./assets/images/icons/header/game.svg");
}

.dark-theme .page-header__icon-4 {
  background-image: url("./assets/images/icons/header/statistics.svg");
}

.light-theme .active {
  .page-header__icon {
    background-color: rgba($color: #000000, $alpha: 0.2);
  }
}

.light-theme .page-header__icon {
  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.2);
  }
}

.light-theme .page-header__icon-1 {
  background-image: url("./assets/images/icons/header/home-dark.svg");
}

.light-theme .page-header__icon-2 {
  background-image: url("./assets/images/icons/header/textbook-dark.svg");
}

.light-theme .page-header__icon-3 {
  background-image: url("./assets/images/icons/header/game-dark.svg");
}

.light-theme .page-header__icon-4 {
  background-image: url("./assets/images/icons/header/statistics-dark.svg");
}
