/* You can add global styles to this file, and also import other style files */
@import "node_modules/@angular/material/theming";

@include mat-core();

:root {
  --color-primary: #039be5;
  --color-primary-dark: #3a9280;
  --color-primary-normal: #6dc5b3;
  --color-primary-light: #488fd5;
  --color-primary-rgb: 81, 45, 168;
  --color-accent: #ff5722;
  --color-accent-rgb: 0, 150, 136;
  --color-warn: #d32f2f;
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-divider: #bdbdbd;

  --color-light: #ffffff;
  --color-light-rgb: 255, 255, 255;

  --color-dark: #000000;
  --color-dark-rgb: 0, 0, 0;
  --color-dark-background: #07073d;

  --color-button: rgba(255, 255, 255, 0.2);

  --color-border: #000080;

  --color-group-0: 255, 204, 204;
  --color-group-1: 204, 255, 255;
  --color-group-2: 255, 255, 153;
  --color-group-3: 0, 191, 255;
  --color-group-4: 204, 153, 204;
  --color-group-5: 153, 255, 153;

  --box-shadow: -2px 0px 17px 2px rgba(34, 60, 80, 0.16);
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1200px;
  width: 100%;

  box-sizing: border-box;
}

.mat-list-base .mat-list-item .mat-list-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: inherit;
  justify-content: space-between;
}

$color-blue-teal-primary: mat-palette($mat-light-blue);
$color-blue-teal-accent: mat-palette($mat-teal);
$color-blue-teal-warn: mat-palette($mat-red);

$color-deeppurple-amber-primary: mat-palette($mat-deep-purple);
$color-deeppurple-amber-accent: mat-palette($mat-amber);
$color-deeppurple-amber-warn: mat-palette($mat-deep-orange);

$color-indigo-pink-primary: mat-palette($mat-indigo);
$color-indigo-pink-accent: mat-palette($mat-pink);
$color-indigo-pink-warn: mat-palette($mat-deep-orange);

$color-pink-bluegrey-primary: mat-palette($mat-pink);
$color-pink-bluegrey-accent: mat-palette($mat-blue-grey);
$color-pink-bluegrey-warn: mat-palette($mat-deep-orange);

$color-purple-green-primary: mat-palette($mat-green);
$color-purple-green-accent: mat-palette($mat-purple);
$color-purple-green-warn: mat-palette($mat-deep-orange);

$blue-teal-theme: mat-light-theme(
  (
    color: (
      primary: $color-blue-teal-primary,
      accent: $color-blue-teal-accent,
      warn: $color-blue-teal-warn,
    ),
  )
);

$deeppurple-amber-theme: mat-light-theme(
  (
    color: (
      primary: $color-deeppurple-amber-primary,
      accent: $color-deeppurple-amber-accent,
      warn: $color-deeppurple-amber-warn,
    ),
  )
);

$indigo-pink-theme: mat-light-theme(
  (
    color: (
      primary: $color-indigo-pink-primary,
      accent: $color-indigo-pink-accent,
      warn: $color-indigo-pink-warn,
    ),
  )
);

$pink-bluegrey-theme: mat-dark-theme(
  (
    color: (
      primary: $color-pink-bluegrey-primary,
      accent: $color-pink-bluegrey-accent,
      warn: $color-pink-bluegrey-warn,
    ),
  )
);

$purple-green-theme: mat-dark-theme(
  (
    color: (
      primary: $color-purple-green-primary,
      accent: $color-purple-green-accent,
      warn: $color-purple-green-warn,
    ),
  )
);

@include angular-material-theme($blue-teal-theme);

.blue-teal {
  //@include angular-material-color($blue-teal-theme);
  --color-primary: #039be5;
  --color-primary-dark: #3a9280;
  --color-primary-normal: #6dc5b3;
  --color-primary-light: #488fd5;
  --color-primary-rgb: 81, 45, 168;
  --color-accent: #ff5722;
  --color-accent-rgb: 0, 150, 136;
  --color-warn: #d32f2f;
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-divider: #bdbdbd;
  --color-text-icons: #ffffff;
  --color-text-togglable: #212121;
}

.pink-bluegrey {
  --color-primary: #e91e63;
  --color-primary-dark: #c2185b;
  --color-primary-normal: #e91e63;
  --color-primary-rgb: 233, 30, 99;
  --color-primary-light: #f8bbd0;
  --color-accent: #607d8b;
  --color-accent-rgb: 96, 125, 139;
  --color-warn: #ff5722;
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-divider: #bdbdbd;
  --color-text-icons: #ffffff;
  --color-text-togglable: #ffffff;
  background-color: var(--color-dark-background);

  @include angular-material-color($pink-bluegrey-theme);
}

.deeppurple-amber {
  --color-primary: #673ab7;
  --color-primary-dark: #512da8;
  --color-primary-normal: #673ab7;
  --color-primary-rgb: 103, 58, 183;
  --color-primary-light: #d1c4e9;
  --color-accent: #ffc107;
  --color-accent-rgb: 255, 193, 7;
  --color-warn: #ff5722;
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-divider: #bdbdbd;
  --color-text-icons: #ffffff;

  @include angular-material-color($deeppurple-amber-theme);
}

.indigo-pink {
  --color-primary: #3f51b5;
  --color-primary-dark: #303f9f;
  --color-primary-normal: #3f51b5;
  --color-primary-rgb: 63, 81, 181;
  --color-primary-light: #c5cae9;
  --color-accent: #ff4081;
  --color-accent-rgb: 255, 64, 129;
  --color-warn: #ff5722;
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-divider: #bdbdbd;
  --color-text-icons: #ffffff;

  @include angular-material-color($indigo-pink-theme);
}

.purple-green {
  --color-primary: #9c27b0;
  --color-primary-dark: #7b1fa2;
  --color-primary-normal: #9c27b0;
  --color-primary-rgb: 156, 39, 176;
  --color-primary-light: #e1bee7;
  --color-accent: #4caf50;
  --color-accent-rgb: 76, 175, 80;
  --color-warn: #ff5722;
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-divider: #bdbdbd;
  --color-text-icons: #ffffff;
  background-color: var(--color-dark-background);

  @include angular-material-color($purple-green-theme);
}
