<div class="game-cards-row" *ngFor="let gameCard of gameCards; trackBy: trackByCardName">
  <mat-card class="game-card" matRipple [routerLink]="[gameCard.route]">
    <mat-card-header class="game-card__header">
      <mat-card-title class="game-card__title">{{ gameCard.name | uppercase }}</mat-card-title>
      <mat-icon class="material-icons-md" style="white-space: pre-line" matTooltip="{{ gameCard.rules }}">
        help_outline
      </mat-icon>
    </mat-card-header>
    <div class="game-card__content">
      <mat-icon class="material-icons-lg">
        {{ gameCard.icon }}
      </mat-icon>
      <mat-card-content>
        <p class="game-card__description">
          {{ gameCard.description }}
        </p>
      </mat-card-content>
    </div>
  </mat-card>
</div>

<router-outlet></router-outlet>
