<mat-card class="game-card">
  <mat-card-title>Тренировка окончена!</mat-card-title>
  <mat-card-content class="game-card__words-list">
    <p class="game-card__wrong">Неизученные слова:</p>
    <p *ngFor="let word of statsList; trackBy: trackByIdentity">
      <ng-container *ngIf="!word.result">
        <mat-icon
          class="game-card__volume"
          matRipple
          [matRippleUnbounded]="true"
          [matRippleCentered]="true"
          (click)="playSound(word.word.audio)"
        >
          volume_up
        </mat-icon>
        <span class="game-card__word">{{ word.word.word }}</span> —
        <span class="game-card__translation">{{ word.word.wordTranslate }}</span>
        <mat-icon
          class="game-card__delete"
          matRipple
          [matRippleUnbounded]="true"
          [matRippleCentered]="true"
          #tooltip="matTooltip"
          matTooltip="Удалить слово из словаря"
        >
          delete
        </mat-icon>
      </ng-container>
    </p>
    <hr />
    <p class="game-card__correct">Изученные слова:</p>
    <p *ngFor="let word of statsList; trackBy: trackByIdentity">
      <ng-container *ngIf="word.result">
        <mat-icon
          class="game-card__volume"
          matRipple
          [matRippleUnbounded]="true"
          [matRippleCentered]="true"
          (click)="playSound(word.word.audio)"
        >
          volume_up
        </mat-icon>
        <span class="game-card__word">{{ word.word.word }}</span> —
        <span class="game-card__translation">{{ word.word.wordTranslate }}</span>
        <mat-icon
          class="game-card__delete"
          matRipple
          [matRippleUnbounded]="true"
          [matRippleCentered]="true"
          #tooltip="matTooltip"
          matTooltip="Удалить слово из словаря"
        >
          delete
        </mat-icon>
      </ng-container>
    </p>
  </mat-card-content>

  <button mat-stroked-button color="primary" class="game-card__exit" [routerLink]="'../'">К списку тренировок</button>
  <button mat-stroked-button class="game-card__reset" (click)="closeGame()">Продолжить тренировку</button>
</mat-card>
