.card {
  text-align: center;

  &__title {
    margin: 2rem 0;
    font-size: 1.7rem;
  }

  &__text {
    margin-bottom: 1.5rem;
  }

  &__content {
    font-size: 1.2rem;
  }

  &__start-button {
    margin: 0 auto;
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .card {
    width: 80vw;
  }
}
